# Recommended for most uses
DATABASE_URL=postgres://neondb_owner:npg_rSO4Esmnu5eW@ep-bitter-recipe-ad9wkc3v-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_rSO4Esmnu5eW@ep-bitter-recipe-ad9wkc3v.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-bitter-recipe-ad9wkc3v-pooler.c-2.us-east-1.aws.neon.tech
PGHOST_UNPOOLED=ep-bitter-recipe-ad9wkc3v.c-2.us-east-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_rSO4Esmnu5eW

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgres://neondb_owner:npg_rSO4Esmnu5eW@ep-bitter-recipe-ad9wkc3v-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgres://neondb_owner:npg_rSO4Esmnu5eW@ep-bitter-recipe-ad9wkc3v.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-bitter-recipe-ad9wkc3v-pooler.c-2.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_rSO4Esmnu5eW
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgres://neondb_owner:npg_rSO4Esmnu5eW@ep-bitter-recipe-ad9wkc3v-pooler.c-2.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgres://neondb_owner:npg_rSO4Esmnu5eW@ep-bitter-recipe-ad9wkc3v-pooler.c-2.us-east-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require

# Neon Auth environment variables for Next.js
NEXT_PUBLIC_STACK_PROJECT_ID=c9150198-3371-4267-bcc6-3b6d6cc625bb
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=pck_s9j5mncazhxhqds4aa3jwav4g1p8xbzzeswchr9sb0ymg
STACK_SECRET_SERVER_KEY=ssk_wvny65dc1m8e1jhdx4mdhxqd52e8jcy4vgk9dkraw9jjr

CLOUDINARY_CLOUD_NAME=dlhid4bfy
CLOUDINARY_API_KEY=943824587587964
CLOUDINARY_API_SECRET=n3_0S8GVYTQYv3BgiWN-_OZxM5c